<div class="issue-wrapper" *ngFor="let issue of githubIssues">
    <mat-expansion-panel class="issue-table__expansion-panel">
        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
          <app-issues-row-header [issue]="issue" [isLiked]="isIssueLiked(issue.id)" (likeIssue)="onIssueLiked($event)"></app-issues-row-header>
        </mat-expansion-panel-header>

        <app-issues-row-body [issue]="issue"></app-issues-row-body>
    </mat-expansion-panel>
</div>
