@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: aliceblue;
  padding: 1rem;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.issues-row-body {
  &__avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-up(md) {
      margin-right: 3rem;
    }
  }

  &__avatar-img {
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
    border: 5px solid goldenrod;
  }

  &__login {
    margin-top: 1rem;
    text-align: center;
  }

  &__description-container {
    flex: 1;
    min-width: 15rem;
    overflow-wrap: break-word;
  }

  &__description-label {
    width: 10rem;
    border-bottom: 1px solid lightslategrey;
    margin-bottom: 1rem !important;
  }
}
